html, body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

a {
	font-size: 300%;
	font-family: 'Quicksand', sans-serif;
	color: #ccc;
	display: block;
	text-decoration: none;
}